# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# File copies
*.*~ #if this second wildcard doesn't work, then: --it doesn't (file ending can be anything!)
*.c~
*.h~
*.ld~
*.S~
